html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("/static/images/Food5.jpg");
    background-size: cover;
    background-position: center;
    color: white; /* Set text color to white for better visibility */
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}
.drop-zone {
    border: 2px dashed #ccc;
    border-radius: 0px;
    padding: 40px;
    text-align: center;
    cursor: pointer;
}
.drop-zone.highlight {
    border-color: #2185d0;
}
.preview-image {
    max-width: 100%;
    max-height: 200px;
    margin-top: 20px;
}